/*
  作者: 缘(QQ:1493813167)
  页面: http://sumaroder.bailanyun.cn/
  语言: CSS
  文件: adaptation.css
  用处: 页面布局适配样式文件
  版权所有，请勿删除
*/

@charset "utf-8";

@media screen and (not (min-width: 600px)) {
    div#container {
        font-size: 16px;
    }
    div.space-between .left {
        width: 90%;
    }
    div.space-between .right {
        display: none;
    }
    div#head {
        width: 250px;
    }
    div#head h3#my-name {
        font-size: 76px;
    }
    div#head p#my-sign {
        text-align: center;
    }
    div.card {
        width: 250px;
    }
    div.card.cot::before,
    div.card.cot::after {
        font-size: 24px;
    }
    footer#copyright span#cr {
        font-size: 14px;
    }
}
