/*
  作者: 缘(QQ:1493813167)
  页面: http://sumaroder.bailanyun.cn/
  语言: CSS
  文件: adaptation.css
  用处: 页面布局适配样式文件
  版权所有，请勿删除
*/

@charset "utf-8";

@media screen and (not (min-width: 600px)) {
    div#container{
        font-size: 16px;
    }
    div#container div#head{
        width: 250px;
    }
    div#container div#head h3#my-name{
        font-size: 76px;
    }
    div#container div.card.cot::before,
    div#container div.card.cot::after {
        font-size: 24px;
    }
    footer#copyright span#cr{
        font-size: 14px;
    }
}
